body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.btn {
    padding: 30px 30px;
    font-size: 2vw;
    font-weight: bold;
    color: #000;
    background: linear-gradient(45deg, #d2d2e2, #d3e9e9);
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: scale(1.05);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}